<div class="career-container">
  <div class="career-content">
    <h1>Join Our Team</h1>
    <p>
      Passionate about technology and innovation? We’re always looking for talented individuals to be part of our team. 
      If you want to grow your career with Aideort and contribute to building innovative digital solutions, we’d love to hear from you.
    </p>

    <div class="career-highlight">
      <p>💼 Interested in joining us? Share your updated resume at:</p>
      <a href="#" class="email-link" (click)="sendEmail($event, 'contactaideort@gmail.com')">
        contactaideort@gmail.com
      </a>
    </div>

    <p class="note">
      Our HR team will review your resume and get back to you as soon as possible.
    </p>
  </div>
</div>
