<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Page</title>
</head>
<body>

    <div class="overlay"></div>

    <div class="content">
        <h1>Website is under<br>maintenance</h1>
        <p>"Our tech ninjas are fine-tuning the website. We'll be back before you know it!"</p>

        <!-- Stars -->
        <div class="star star1"></div>
        <div class="star star2"></div>
    </div>

</body>
</html>
