.full-page {
  min-height: 100vh;
  background-image: url("../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.card-container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: red;
  font-size: 28px;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  z-index: 10;
}

.form-content h2.title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-content input,
.form-content select,
.form-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px !important;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 30px !important;
}

.form-content input::placeholder,
.form-content select,
.form-content textarea::placeholder {
  color: #ffffff;
  font-weight: bold;
}

.form-content select option {
  color: #000;
}

.form-content button {

  background-color: #ff6600;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-content button:hover {
  background-color: #e55c00;
}

.toggle-link {
  margin-top: 20px;
  color: #ff6600;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}


.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}