.input-with-icon {
  position: relative;
}

.input-with-icon input {
  width: 100%;
  padding-right: 2.5rem;
}

.input-with-icon .icon-fixed {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #555;
  pointer-events: none;
}

.input-with-icon .toggle-eye {
  pointer-events: auto;
  cursor: pointer;
}