.password-wrapper {
  position: relative;
}

.password-wrapper .eye-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  color: #555;
  padding: 0;
}

.password-wrapper .eye-btn:hover {
  color: #000;
}
